<app-slide [showControls]="false">
  <div content>
    <h2>
      Welcome to Pornhub Analytics
    </h2>

    <h4>
      Добро пожаловать на наш сервис порнхаб для научных сотрудников.
    </h4>
    <h5>Мы разбили по кадрам и проанализировали сотни порнхаб-видео.
      В каждом кадре мы выяснили процентное соотношение восьми основных эмоций на лицах порноактеров
    </h5>
    <div>
      <ul>
        <li>Злость</li>
        <li>Презрение</li>
        <li>Отвращение</li>
        <li>Страх</li>
        <li>Счастье</li>
        <li>Нейтрал</li>
        <li>Грусть</li>
        <li>Удивление</li>
      </ul>
    </div>

    <div class="enter-btn">
      <button (click)="presService.next()" class="pornhub-btn ">Войти</button>
      <p>18+</p>
    </div>

  </div>


</app-slide>


