<app-slide [showControls]="true">
  <div content>
    <h2>
      Немножко интересных фактов
    </h2>

    <div class="fact">
      <h4>
        Всего мы получили 108 230 кадров. На 24 709 из которых присутствуют лица.
      </h4>
      <h3>Лица присутствуют на 22.83% кадров</h3>
    </div>

    <div class="fact">
      <h4>Корреляция между средним кол-вом лиц в кадре и рейтингом видео</h4>
      <h3>-0.24817..</h3>
      <p>Существует слабая обратная связь: чем меньше лиц, тем больше рейтинг</p>
    </div>

    <div class="fact">
      <h4>Самый грустный жанр - <span class="bright">Fetish</span> (24.6% грусти)</h4>
      <h4>Самый счастливый жанр - <span class="bright">Redhead</span> (56.3% счастья)</h4>
      <h4>Самый удивительный жанр - <span class="bright">Pussy-licking</span> (62.5% удивления)</h4>
      <h4>Самый злой жанр - <span class="bright">Squirt</span> (18.2% злости)</h4>
    </div>






  </div>

</app-slide>


