<div class="left-arrow" *ngIf="showControls && presService.hasPrev()">
    <a (click)="onPrev()"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
</div>

<div #content class="main">
        <div class="content container">
            <ng-content select="[content]"></ng-content>
        </div>
</div>

<div class="right-arrow" *ngIf="showControls && presService.hasNext()">
    <a (click)="onNext()"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></a>
</div>