.left-arrow, .right-arrow
{
    position: fixed;
    top: 50vh;
    color: white;
    cursor: pointer;
}

.left-arrow i:hover, .right-arrow i:hover
{
    color: #ff9900 !important;
}

.left-arrow
{
    left: 40px;
}

.right-arrow
{
    right: 40px;
}

a{
    color: white !important;
}

.main
{
    min-height: 80vh;
}