<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="row">
        <div class="offset-3 col-md-9">
            <h3 class="main-title">
                Pornhub Analytics
            </h3>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

