<app-slide [showControls]="true">
  <div content>
    <div class="fact">
      <h4>Самая редкая эмоция - <span class="bright">Презрение</span></h4>
      <h4>Самая частая эмоция - <span class="bright">Нейтральная</span></h4>
    </div>
    <div class="fact">
      <h4>Процентное соотношение эмоций во всех видео</h4>
      <app-pie-chart [data]="percentage" [radius]="200" [minShowVal]="0.02"></app-pie-chart>
    </div>
  </div>
</app-slide>