<app-slide>
  <div content>
    <h2>
      Спасибо за внимание!
    </h2>
    <h5>
      Надеемся, информация оказалась полезной
    </h5>
    <div class="row final">
      <ul class="list-group col-md-6 box">
        <li class="list-group-item">Майнинг: opencv + Emotion API in Azure</li>
        <li class="list-group-item">Обработка данных: Spark/Scala</li>
        <li class="list-group-item">Презентация и визуализация: Angular4 + D3</li>
      </ul>

    </div>

    <div class="row final">
      <ul class="list-group box col-md-6">
        <li class="list-group-item"><strong class="bright">Даниил Баунов</strong> - Data Processing + Presentation</li>
        <p class="list-group-item"><strong class="bright">Артем Осадчук</strong> - Data Mining + Presentation</p>
        <p class="list-group-item"><strong class="bright">Евгений Взацкий</strong> - Data Mining</p>
      </ul>
    </div>


  </div>


</app-slide>

