<app-slide>
  <div content>
    <div class="row">
      <div>
        <div class="sideMenu">
          <app-categories-list [categories]="categories$ | async"
                               (selected)="onCatSelected($event)" [selectedLabel]=" dataService.selectedCategory || '60fps' "></app-categories-list>
        </div>
      </div>
      <div class="col-md-8 offset-3 content">
        <h2>{{selectedCategory}}</h2>

        <h4><strong>Средний рейтинг фильмов:</strong> {{(facesRating$ | async)?.rating | number :'1.2-2'}}</h4>
        <h4><strong>Средний процент кадров с лицами:</strong> {{(facesRating$ | async)?.facesPercent | number :'1.2-2'}}</h4>

        <div class="row">

          <div class="col-md-6">
            <app-pie-chart [data]="categoryData2$ | async" [radius]="200"></app-pie-chart>
            <p>Посчитано через всеобщую сумму всех эмоций в каждом кадре видео</p>
          </div>
          <div class="col-md-6">
            <app-pie-chart [data]="categoryData$ | async" [radius]="200"></app-pie-chart>
            <p>Посчитано через фильтрацию преобладающих эмоций в каждом кадре видео</p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-12">
            <app-line-chart [data]="timedData$ | async" [width]="1000" [height]="300"></app-line-chart>
          </div>
        </div>

      </div>



    </div>
  </div>
</app-slide>

