/* You can add global styles to this file, and also import other style files */
body, html{
    background-color: #000000 !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

button:focus
{
    outline:0 !important;
}

p{
    color: #AAAAAA;
}



.main-title
{
    color: #ff9900 !important;
}

h1, h2, h3
{
    color: #ff9900 !important;
}

h4, h5, p, ul, li
{
    color: #FFFFFF !important;
}

.navbar-brand
{
    color: #ff9900 !important;
}

.content
{
    margin-top: 20px;
}

.navbar
{
    background: #1b1b1b !important;
}

.pornhub-btn
{
    border: 1px solid #1b1b1b;
    color: black;
    background: #ff9900;
    border-radius: 4px;
    padding: 7px;
    min-width: 140px;
    font-size: 24px;
    cursor: pointer;
}

.pornhub-btn:hover
{
    background: #ffBB22;
}

.list-group-item.active
{
    background: #ff9900 !important;
    border-color: #333333 !important;
    color: #000000;
}

.list-group-item
{
    background: #1b1b1b !important;
    border-color: #333333 !important;
    color: #AAAAAA;
}

.bright
{
    color: #ff9900;
}

.slideContent
{
    padding-bottom: 100px;
}
